<h2><%= @product.title %></h2>
<img src="<%= @product.image %>" >
<h3><%= @product.description %></h3>
<h3><%= number_to_currency(@product.price) %></h3>
<%= link_to 'Add to Cart', add_item_product_path(@product), method: :post %>