<!DOCTYPE html>
<html>
  <head>
    <title>GalacticWares</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= form_tag(results_search_index_path, method: "get") do %>
      <%= collection_select(:search, :category, Category.order(:title), :id, :title, {:include_blank => 'All'}, {:class => "display_categories"}) %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
    </header>
    <p><%= flash[:success]%></p>
    <%= yield %>
  </body>
</html>
